<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="AUTHENTICATION_BYPASS" value="FALSE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BASE_REPORT_URL" value="http://romcs0858:8080/Reports/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="http://romcs0858:8080/GapWCF/GapService.svc" name="BasicHttpBinding_IGapService" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>