USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TROLFNC]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TROLFNC](
	[CODROL] [nvarchar](3) NOT NULL,
	[CODFNC] [nvarchar](5) NOT NULL,
	[DATASC] [datetime] NULL,
	[CODUSRMOD] [nvarchar](8) NULL,
	[FLGMODTYP] [nchar](1) NULL,
	[TMSLSTMOD] [datetime] NULL,
 CONSTRAINT [PK_TROLFNC] PRIMARY KEY CLUSTERED 
(
	[CODROL] ASC,
	[CODFNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TROLFNC] ([CODROL], [CODFNC], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'NUS', N'016', CAST(0x0000A40300EBAD95 AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TROLFNC] ([CODROL], [CODFNC], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'PUS', N'013', CAST(0x0000A4060095E69D AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TROLFNC] ([CODROL], [CODFNC], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'PUS', N'015', CAST(0x0000A40300EC1E2D AS DateTime), NULL, NULL, NULL)
ALTER TABLE [dbo].[TROLFNC]  WITH CHECK ADD  CONSTRAINT [FK_TROLFNC_TFNC] FOREIGN KEY([CODFNC])
REFERENCES [dbo].[TFNC] ([CODFNC])
GO
ALTER TABLE [dbo].[TROLFNC] CHECK CONSTRAINT [FK_TROLFNC_TFNC]
GO
ALTER TABLE [dbo].[TROLFNC]  WITH CHECK ADD  CONSTRAINT [FK_TROLFNC_TROL] FOREIGN KEY([CODROL])
REFERENCES [dbo].[TROL] ([CODROL])
GO
ALTER TABLE [dbo].[TROLFNC] CHECK CONSTRAINT [FK_TROLFNC_TROL]
GO
