USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TUSR]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSR](
	[CODUSR] [nvarchar](6) NOT NULL,
	[DESFSTNAMUSR] [nvarchar](30) NULL,
	[DESLSTNAMUSR] [nvarchar](30) NULL,
	[DESEMLUSR] [nvarchar](50) NULL,
	[DESTELUSR] [nvarchar](30) NULL,
	[DESENYUSR] [nvarchar](6) NULL,
	[CODSTSUSR] [nchar](1) NULL,
	[DATLSTLOG] [datetime] NULL,
	[FLGDEL] [nchar](1) NULL,
	[CODUSRMOD] [nvarchar](8) NULL,
	[FLGMODTYP] [nchar](1) NULL,
	[TMSLSTMOD] [datetime] NULL,
 CONSTRAINT [PK_TUSR_1] PRIMARY KEY CLUSTERED 
(
	[CODUSR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TUSR] ([CODUSR], [DESFSTNAMUSR], [DESLSTNAMUSR], [DESEMLUSR], [DESTELUSR], [DESENYUSR], [CODSTSUSR], [DATLSTLOG], [FLGDEL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0118', N'MATTEO', N'DURANTI', NULL, NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TUSR] ([CODUSR], [DESFSTNAMUSR], [DESLSTNAMUSR], [DESEMLUSR], [DESTELUSR], [DESENYUSR], [CODSTSUSR], [DATLSTLOG], [FLGDEL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0119', N'MAURIZIO', N'CROZZA', NULL, N'123', NULL, N'A', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TUSR] ([CODUSR], [DESFSTNAMUSR], [DESLSTNAMUSR], [DESEMLUSR], [DESTELUSR], [DESENYUSR], [CODSTSUSR], [DATLSTLOG], [FLGDEL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0120', N'MARIO', N'BALOTELLI', NULL, NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL)
