USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TSYSPAR]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TSYSPAR](
	[CODSYSPAR] [nvarchar](30) NOT NULL,
	[NUMSYSPARIDX] [smallint] NOT NULL,
	[DESPARVAL] [nvarchar](50) NULL,
	[DESPARDES] [nvarchar](100) NULL,
 CONSTRAINT [PK_TSYSPAR] PRIMARY KEY CLUSTERED 
(
	[CODSYSPAR] ASC,
	[NUMSYSPARIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TSYSPAR] ([CODSYSPAR], [NUMSYSPARIDX], [DESPARVAL], [DESPARDES]) VALUES (N'APP_SEMAPHORE', 0, N'TRUE', NULL)
