USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TUSRROL]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSRROL](
	[CODUSR] [nvarchar](6) NOT NULL,
	[CODROL] [nvarchar](3) NOT NULL,
	[CODGRPARE] [nvarchar](3) NOT NULL,
	[DATASC] [datetime] NULL,
	[CODUSRMOD] [nvarchar](8) NULL,
	[FLGMODTYP] [nchar](1) NULL,
	[TMSLSTMOD] [datetime] NULL,
 CONSTRAINT [PK_TUSRROL] PRIMARY KEY CLUSTERED 
(
	[CODUSR] ASC,
	[CODROL] ASC,
	[CODGRPARE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TUSRROL] ([CODUSR], [CODROL], [CODGRPARE], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0118', N'ADM', N'000', NULL, NULL, NULL, NULL)
INSERT [dbo].[TUSRROL] ([CODUSR], [CODROL], [CODGRPARE], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0119', N'PUS', N'000', NULL, NULL, NULL, NULL)
INSERT [dbo].[TUSRROL] ([CODUSR], [CODROL], [CODGRPARE], [DATASC], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'GI0120', N'NUS', N'000', CAST(0x0000A40600B9837D AS DateTime), NULL, NULL, NULL)
ALTER TABLE [dbo].[TUSRROL]  WITH CHECK ADD  CONSTRAINT [FK_TUSRROL_TGRPARE] FOREIGN KEY([CODGRPARE])
REFERENCES [dbo].[TGRPARE] ([CODGRPARE])
GO
ALTER TABLE [dbo].[TUSRROL] CHECK CONSTRAINT [FK_TUSRROL_TGRPARE]
GO
ALTER TABLE [dbo].[TUSRROL]  WITH CHECK ADD  CONSTRAINT [FK_TUSRROL_TROL] FOREIGN KEY([CODROL])
REFERENCES [dbo].[TROL] ([CODROL])
GO
ALTER TABLE [dbo].[TUSRROL] CHECK CONSTRAINT [FK_TUSRROL_TROL]
GO
ALTER TABLE [dbo].[TUSRROL]  WITH CHECK ADD  CONSTRAINT [FK_TUSRROL_TUSR] FOREIGN KEY([CODUSR])
REFERENCES [dbo].[TUSR] ([CODUSR])
GO
ALTER TABLE [dbo].[TUSRROL] CHECK CONSTRAINT [FK_TUSRROL_TUSR]
GO
