USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TFNC]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TFNC](
	[CODFNC] [nvarchar](5) NOT NULL,
	[CODFNCFAT] [nvarchar](5) NULL,
	[DESFNC] [nvarchar](50) NULL,
	[DESACTCTL] [nvarchar](50) NULL,
	[DESCTL] [nvarchar](50) NULL,
	[CODODR] [smallint] NULL,
	[CODUSRMOD] [nvarchar](8) NULL,
	[FLGMODTYP] [nchar](1) NULL,
	[TMSLSTMOD] [datetime] NULL,
 CONSTRAINT [PK_TFNC] PRIMARY KEY CLUSTERED 
(
	[CODFNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TFNC] ([CODFNC], [CODFNCFAT], [DESFNC], [DESACTCTL], [DESCTL], [CODODR], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'000', NULL, N'Anagrafiche', NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[TFNC] ([CODFNC], [CODFNCFAT], [DESFNC], [DESACTCTL], [DESCTL], [CODODR], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'011', NULL, N'Ordini', NULL, NULL, 2, NULL, NULL, NULL)
INSERT [dbo].[TFNC] ([CODFNC], [CODFNCFAT], [DESFNC], [DESACTCTL], [DESCTL], [CODODR], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'012', N'011', N'Manuali', NULL, NULL, 1, NULL, NULL, NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UX_TFNCFAT_CODODR]    Script Date: 19/12/2014 11:16:48 ******/
ALTER TABLE [dbo].[TFNC] ADD  CONSTRAINT [UX_TFNCFAT_CODODR] UNIQUE NONCLUSTERED 
(
	[CODFNCFAT] ASC,
	[CODODR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
