USE [ENGWORXDB]
GO
/****** Object:  Table [dbo].[TROL]    Script Date: 19/12/2014 11:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TROL](
	[CODROL] [nvarchar](3) NOT NULL,
	[DESROL] [nvarchar](50) NULL,
	[CODUSRMOD] [nvarchar](8) NULL,
	[FLGMODTYP] [nchar](1) NULL,
	[TMSLSTMOD] [datetime] NULL,
 CONSTRAINT [PK_TROL] PRIMARY KEY CLUSTERED 
(
	[CODROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TROL] ([CODROL], [DESROL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'ADM', N'Amministratore', NULL, NULL, NULL)
INSERT [dbo].[TROL] ([CODROL], [DESROL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'NUS', N'NormalUser', NULL, NULL, NULL)
INSERT [dbo].[TROL] ([CODROL], [DESROL], [CODUSRMOD], [FLGMODTYP], [TMSLSTMOD]) VALUES (N'PUS', N'PowerUser', NULL, NULL, NULL)
