################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngWorx/EngWorxCore/EngWorxCore.Crypt/bin/Debug
