################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngWorx/EngWorxCore/EngWorxCore.Crypt/bin/Debug
/EngWorx/EngWorxCore/EngWorxCore.Crypt/obj/Debug
/EngWorx/EngWorxCore/EngWorxCore.Library/bin/Debug
/EngWorx/EngWorxCore/EngWorxCore.Library/obj/Debug
/EngWorx/EngWorxCore/EngWorxCore.Repository/bin/Debug
/EngWorx/EngWorxCore/EngWorxCore.Repository/obj/Debug
/EngWorx/EngWorxCore/EngWorxCore.RepositoryInterface/bin/Debug
/EngWorx/EngWorxCore/EngWorxCore.RepositoryInterface/obj/Debug
/EngWorx/EngWorxCore/EngWorxCore.Service/bin/Debug
/EngWorx/EngWorxCore/EngWorxCore.Service/obj/Debug
/EngWorx/EngWorxWeb/BackEnd/Report/bin/Debug
/EngWorx/EngWorxWeb/BackEnd/Report/obj/Debug
/EngWorx/EngWorxWeb/BackEnd/Repository/obj/Debug
/EngWorx/EngWorxWeb/BackEnd/Repository/bin/Debug
/EngWorx/EngWorxWeb/BackEnd/RepositoryInterface/obj/Debug
/EngWorx/EngWorxWeb/BackEnd/RepositoryInterface/bin/Debug
/EngWorx/EngWorxWeb/BackEnd/Service/obj/Debug
/EngWorx/EngWorxWeb/BackEnd/Service/bin
/EngWorx/EngWorxWeb/BackEnd/WebAPI/bin
/EngWorx/EngWorxWeb/BackEnd/WebAPI/obj/Debug
/EngWorx/EngWorxWeb/Commons/Common/obj/Debug
/EngWorx/EngWorxWeb/Commons/Common/bin/Debug
/EngWorx/EngWorxWeb/Commons/Domain/bin/Debug
/EngWorx/EngWorxWeb/Commons/Domain/obj/Debug
/EngWorx/EngWorxWeb/FrontEnd/ServiceProxy/bin/Debug
/EngWorx/EngWorxWeb/FrontEnd/ServiceProxy/obj/Debug
/EngWorx/EngWorxWeb/FrontEnd/Web/obj/Debug
/EngWorx/EngWorxWeb/FrontEnd/Web/bin
/EngWorx/packages
/EngWorx/.vs
