<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- DB SU FILE -->
    <add name="dbEntities.svil" connectionString="metadata=res://*/ObjectModel.ApplicationModel.csdl|res://*/ObjectModel.ApplicationModel.ssdl|res://*/ObjectModel.ApplicationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|ENGWORXDB.mdf;Integrated Security=True;Connect Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- DB SQL SERVER -->
    <add name="dbEntities" connectionString="metadata=res://*/ObjectModel.ApplicationModel.csdl|res://*/ObjectModel.ApplicationModel.ssdl|res://*/ObjectModel.ApplicationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2012;initial catalog=ENGWORXDB;persist security info=True;user id=sa;password=kpo09KPO09;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- Parametri per la cifratura delle chiamate WCF -->
    <add key="SECURITY_ENABLED" value="FALSE" />
    <add key="SECURITY_KEY" value="M7259kZZh54JjLp" />
    <add key="SECURITY_TIME_SYNC_GAP" value="2" />
    <!-- Parametri la configurazione delle cartelle dei certificati e giustificativi -->
    <add key="documentTempFolder" value="C:\GAP\Appoggio\Digitali" />
    <add key="documentArchiveFolder" value="C:\GAP\Archivio" />
    <!-- Parametri la configurazione delle cartelle dei report -->
    <add key="REPORT_SOURCE_PATH" value="C:\GAP\ReportSource\" />
    <add key="REPORT_OUTPUT_PATH" value="C:\GAP\ReportOutput\" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/EngWorxService_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %C.%M - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>